<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<link href="/css/user/imageSlide.css" rel="stylesheet" />
<body>
<div class="slideshow-sdcontainer">
	<div class="mySlides fade">
  		<div class="numbertext"></div>
  			<img id="imageslide" src="/img/user/1.png">
		</div>
		<div class="mySlides fade">
  			<div class="numbertext"></div>
  			<img id="imageslide" src="/img/user/2.png">
		</div>
		<div class="mySlides fade">
  			<div class="numbertext"></div>
  			<img id="imageslide" src="/img/user/3.png">
		</div>
</div>
<br>
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
<script src="js/user/imageSlide.js"></script>
</body>
</html>